language: android

jdk:
  - oraclejdk8

android:
  components:
    - tools
    - build-tools-27.0.2
#    - android-28
    - extra-android-support
    - extra-google-m2repository
    - extra-android-m2repository

licenses:
    - 'android-sdk-license-.+'

before_install:
        - chmod +x gradlew
        - yes | sdkmanager "platforms;android-27"

script:
        - ./gradlew build